header{
    background-color: rgb(3, 3, 3);
    width: 150px;
    padding: 20px;
    font-family: serif;
    text-decoration: none;
    color: rgb(72, 255, 0);
    position: fixed;
    left: 0;
    top: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
}

nav a{
    color: rgb(255, 127, 234);
    padding: 10px;
    text-decoration: none;
    margin:10px;
    margin-right: 10px;
    display: block;

}

body{
    background-size: cover;
    color: beige;
    background-image: url(/imagenes/cielo\ 9.gif)
}
div{
    margin-left: 230px;
padding:20px;
}
img{
    width: 100px;
    height: auto;
    border-radius: 12px;
}
.img1{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px;
}
.div1{
    background-color: rgb(160, 37, 150);
    display: block;
}
.div2{
    background-color: rgb(80, 30, 69);
}
.div3{
    background-color: rgb(46, 10, 31);
}
.div4{
    background-color: rgb(19, 88, 179);
}
div{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;

}


